@import url('https://fonts.googleapis.com/css?family=BenchNine');
@import url('https://fonts.googleapis.com/css?family=Marvel');
@import url('https://fonts.googleapis.com/css?family=Roboto Mono');

.body {
    text-align: center;
    font-family: 'BenchNine';
    font-size: 18px;
    color: black;
    background-color: #000207;
}

#title {
    font-family: 'Marvel';
    font-size: 85px;
    font-weight: 700;
    color: #0E5883;
}

#subtitle {
    color: #00544B;
    font-size: 22px;
    margin-bottom: 35px;
}

#activeUsers {
    color: #1A76A5;
    font-size: 18px;
    margin-bottom: 10px;
}

.messagesGrid {
    text-align: left;
    border-radius: 12px;
    width: 65%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    background-color: papayaWhip;
    opacity: 0.83;
    background-image: url("bg.jpg");
    background-position: center;
    background-size: cover;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    
}

#messageCard {
    font-family: 'Roboto Mono';
    font-size: 13px;
    border-radius: 15px;
    padding: 10px;
    color: black;
    background-color: white;
    margin-top: 10px;
    margin: 10px;
}

input {
    color: #012A40;
    width: 70%;
    height: 60px;
    margin-bottom: 60px;
    padding-right: 50px;
    border-radius: 10px;
}

button {
    width: 70px;
    height: 60px;
    margin-left: -70px;
    border-radius: 10px;
}